.container {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="submit"] {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#loginForm,
#signUpForm {
  display: inline-block;
  width: 50%;
}

#loginForm input[type="submit"],
#signUpForm input[type="submit"] {
  width: auto;
}

#loginForm div,
#signUpForm div {
  margin-bottom: 10px;
}

#loginForm div > div,
#signUpForm div > div {
  display: inline-block;
  width: 30%;
  text-align: right;
  margin-right: 10px;
}
